

<div class="row" style="margin: 0px 100px;padding-bottom: 50px;">
  <div class="col-sm-4 col-md-3 sidebar mt-5">
    <div class="card">
      <article class="card-group-item">
        <header class="card-header">
          <h6 class="title">Ara </h6>
        </header>
        <div class="filter-content">
          <div class="card-body" style="width: auto;">
          <div class="form-row">
          <div class="form-group " style="width: 100%;">
           
            <input type="text" [(ngModel)]="term" class="searchTerm"  class="form-control" id="search" placeholder="Ara..">
          </div>
          
          </div>
          </div> <!-- card-body.// -->
        </div>
      </article> <!-- card-group-item.// -->
      <article class="card-group-item">
        <header class="card-header"><h6 class="title"> Kategoriler </h6></header>
        <div class="filter-content">
          <div class="list-group list-group-flush">
            <a href="#" class="list-group-item">Tüm Kategoriler <span class="float-right badge badge-light round">{{products.length}}</span> </a>                  
        </div>  <!-- list-group .// -->
        </div>
      </article> <!-- card-group-item.// -->
      <article class="card-group-item">
        <header class="card-header">
          <h6 class="title">Fiyat Aralığı </h6>
        </header>
        <div class="filter-content">
          <div class="card-body">
          <div class="form-row">
          <div class="form-group col-md-6">
            <label>Min</label>
            <input type="number" class="form-control" id="inputEmail4" placeholder="0">
          </div>
          <div class="form-group col-md-6 text-right">
            <label>Max</label>
            <input type="number" class="form-control" placeholder="1,0000">
          </div>
          </div>
          </div> <!-- card-body.// -->
        </div>
      </article> <!-- card-group-item.// -->
     
    </div> <!-- card.// -->
  </div>

  <div class="col-sm-8 col-md-9">
   <div class="row">
    <div class="col-3" *ngFor="let product of products|filter:term">
      <div class="card  mt-5 pt-4">
        <div class="d-flex sale ">
          <div class="btn">Son {{product.quantity}} Ürün</div>
        </div> 
        <img class='mx-auto img-thumbnail' *ngIf="product.productImages.length>0"   src="{{path+product.productImages[0].imagePath}}" width="auto" height="auto" />
         <img class='mx-auto img-thumbnail' *ngIf="product.productImages.length==0" src="{{path+'Resources/Images/productdefault.png'}}"   width="auto" height="auto" />
        <div class="card-body text-center mx-auto">
          <h5 class="card-title">{{product.productName}}</h5>
          <p>{{product.description}}</p>
          <p class="card-text">{{product.price| currency:'₺ '}}</p>
          <button routerLink="/products/{{product.id!}}" class="btn btn-sm btn-success">Detaylar</button>
        </div>
      </div>
    </div>
   
  </div>

   </div>
  </div>

 
