

<div class="row" style="margin: 0px 100px;padding-bottom: 50px;">
  <div class="card">
    <div class="container-fliud">
      <div class="wrapper row">
        <div class="preview col-md-6">
          <div class="preview-pic tab-content" *ngFor="let image of product.productImages; let i = index" [attr.data-index]="i">
            <div #someNameInput class="tab-pane" [ngClass]="{'active': i === 0}"  id="pic-{{i+1}}">
              <img src="{{path+image.imagePath}}" style="height: 400px !important;object-fit: cover !important;" />
            </div>
            
          </div>
          <ul class="preview-thumbnail nav nav-tabs">
            <li [ngClass]="{'active': i === 0}" *ngFor="let image of product.productImages;let i = index" [attr.data-index]="i">
              <a [attr.data-target]="'#pic-' + (i+1)" data-toggle="tab" (click)="setActiveClass(i+1)">
              <img src="{{path+image.imagePath}}" style="height: 150px !important;object-fit: cover !important" />
            </a>
          </li>
             
          </ul>
          
        </div>
        <div class="details col-md-6">
          <h3 class="product-title"> {{product.productName}}</h3>
          <div class="rating">
            <div class="stars">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </div>
            <span class="review-no"> {{product.quantity}} Adet </span>
          </div>
          <p class="product-description"> {{product.description}}</p>
          <h4 class="price"> <span>{{product.price| currency:'₺ '}}</span></h4>
          <p class="vote"></p>
        
          <div class="action">
            <button style="margin-right:10px;" (click)="NotUsedError()" class="add-to-cart btn btn-default" type="button">Sepete Ekle </button>
            <button class="like btn btn-default" (click)="NotUsedError()" type="button"><span class="fa fa-heart"></span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>