<!--begin::Content-->
<div class="content  d-flex flex-column flex-column-fluid" style="    margin-top: 50px;">
 

  <!--begin::Entry-->
  <div class="d-flex flex-column-fluid" style="margin-bottom: 50px;">
    <!--begin::Container-->
    <div class=" container ">  
      <!--begin::Card-->
      <div class="card card-custom">
        <div class="card-header flex-wrap pt-4">
          <div class="card-title" style="display: inline-block;">
            <h4 class="card-label">
              Ürünler
        
            </h4>
          </div>
          <div class="card-toolbar" style="float: right;display: inline-block;">
            
            <button mat-raised-button  color="accent"  class="mat-button-mt-4" (click)="actions('Ekle',{})">
              <mat-icon>add</mat-icon>
              Yeni Ekle
            </button><!-- Call 'update-stated-dialog' from _shared folder -->
            <!--end::Button-->
          </div>
        </div>

        <div class="card-body">
          <!--begin: Datatable-->
          <mat-form-field>
            <mat-label>Ara..</mat-label>
            <input
              matInput
              (keyup)="applyFilter($event)"
              placeholder="Deneme Ürünü"
              #input
            />
          </mat-form-field>
  



          <mat-table #table [dataSource]="dataSource" matSort *ngIf="dataSource.data.length > 0">       
           
  
            <!-- Position Column -->
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef  mat-sort-header> Id. </mat-header-cell>
              <mat-cell *matCellDef="let products">
                {{ products.id }}
              </mat-cell>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="productName">
              <mat-header-cell *matHeaderCellDef  mat-sort-header> Ürün Adı </mat-header-cell>
              <mat-cell *matCellDef="let products"> {{ products.productName }}  </mat-cell>
            </ng-container>
            <ng-container matColumnDef="barcodeNumber">
              <mat-header-cell *matHeaderCellDef  mat-sort-header> Barkod  </mat-header-cell>
              <mat-cell *matCellDef="let products"> {{ products.barcodeNumber }}  </mat-cell>
            </ng-container>
            <ng-container matColumnDef="price">
              <mat-header-cell *matHeaderCellDef  mat-sort-header> Fiyat </mat-header-cell>
              <mat-cell *matCellDef="let products"> {{ products.price }}  </mat-cell>
            </ng-container>
            <ng-container matColumnDef="description">
              <mat-header-cell *matHeaderCellDef  mat-sort-header> Açıklama </mat-header-cell>
              <mat-cell *matCellDef="let products"> {{ products.description }}  </mat-cell>
            </ng-container>
            <ng-container matColumnDef="quantity">
              <mat-header-cell *matHeaderCellDef  mat-sort-header> Miktar </mat-header-cell>
              <mat-cell *matCellDef="let products"> {{ products.quantity }}  </mat-cell>
            </ng-container>
            <!-- Weight Column -->         
            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef> Eylemler </mat-header-cell>
              <mat-cell *matCellDef="let products">
                <div>
                  <button #tooltip="matTooltip"
                  (click)="actions('Güncelle',products)"
                    mat-icon-button
                    color="primary"
                    matTooltip="Düzenle"
                  >
                    <mat-icon>create</mat-icon></button
                  >&nbsp;
                </div>
                <div>
                  <button #tooltip="matTooltip"
                
                  (click)="actions('Resimleri',products)"
                    mat-icon-button
                    color="success"
                    matTooltip="Ürün Resimleri"
                  >
                    <mat-icon>perm_media</mat-icon></button
                  >&nbsp;
                </div>
                <div>
                  <button #tooltip="matTooltip"             
                  (click)="actions('Sil',products)"
                    mat-icon-button
                    color="warn"
                    matTooltip="Sil"
                  >
                    <mat-icon>delete</mat-icon></button
                  >&nbsp;
                </div>
                 
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell"  colspan="4" style="padding-top: 12px">
                 "{{ input.value }}" Aramasına göre sonuç bulunamadı.
              </td>
            </tr>
          </mat-table>
          <!--end: Datatable-->
        </div>
      </div>
      <!--end::Card-->
    </div>
    <!--end::Container-->
  </div>
  <!--end::Entry-->
</div>
<!--end::Content-->