/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-dialog-container {
    padding: 0px !important;
  }

  .form-control:focus {
 
    box-shadow: 0 0 0 0.2rem rgb(255 255 255 / 25%) !important;
  }

  .font-weight-bold {
    font-weight: 500 !important;
}