<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="row" style="margin: 0px 100px;">
    <a class="navbar-brand" href="#">Ürün Listesi</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="products" routerLinkActive="active">Ürünler <span class="sr-only">(current)</span></a>
        </li>     
        <li class="nav-item">
          <a class="nav-link" routerLink="register" routerLinkActive="active">Kayıt ol</a>
        </li>
      </ul>
       
    </div>
  </div>

</nav>